<aside class="sidebar">
    <h2>Admin</h2>
    <ul>
        <li><a href="/admin/home" data-content="home" class="menu-item " >Home</a></li>
        <li><a href="/admin/game/config" data-content="game_config" class="menu-item" >Game Config</a></li>
        <!-- <li><a href="/portfolios/admin" data-content="users" class="menu-item" > Portolios</a></li> -->
        <li><a href="/leaderboards/admin" data-content="users" class="menu-item" >Leader Boards</a></li>
        <li><a href="/admin/users" data-content="users" class="menu-item" >Users List</a></li>
        <li><a href="/logout" data-content="logout" class="menu-item" >Logout</a></li>
        <li><a href="#" data-content="issues" class="menu-item" style="color: #42434d;">Issue Tracker</a></li>
        <li><a href="#" data-content="notifications" class="menu-item" style="color: #42434d;">Notification</a></li>
    </ul>
</aside>