<%- include("admin-head.ejs") %>
<body>

    <div class="dashboard-container">
        <!-- Sidebar -->
        <%- include("admin-sidebar-items.ejs") %>

        <!-- Content here -->

        <!-- End of content -->
    </div>
    
</body>
</html>