<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Stocks Simulator Application</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body class="landing-body">
    <div class="landing-container">
        <header>
            <h1>Welcome to the Stocks Simulator Application</h1>
        </header>
        
        <div class="button-group">
            <a href="/login?type=admin" class="button admin-button">Admin Login</a>
            <a href="/login?type=user" class="button user-button">User Login</a>
        </div>

        <!-- Registration Link -->
        <p class="register-message">
            Do not have an account? <a href="/register" class="register-link" style="color: white;">Create a profile</a>.
        </p>
    </div>
</body>
</html>
